* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
}

canvas {
    border: 1px solid white;
    background-color: #1e1e1e;
}

