body{
	max-width : 800px;
	height: 100%;
	margin:auto;
	margin-top: 20vh;
	padding: 1.5rem;
	border: 2px solid #FFF;
}

form{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 10px;
}

form.label{
	grid-column: 1;
	grid-row: 1;
}

form.input{
	grid-column: 2/3;
	grid-row: 1;
}

form.button{
	grid-column: 3/4;
	grid-row: 1;
}



